.text-chicle {
  font-family: 'Lobster', cursive; }

.text-sans {
  font-family: "Open Sans", -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, "Helvetica Neue", Arial, sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol"; }

.lead {
  font-size: 30px; }
  @media (max-width: 575.98px) {
    .lead {
      font-size: 20px; } }

.display-1 {
  font-size: 150px; }
  @media (max-width: 575.98px) {
    .display-1 {
      font-size: 70px; } }
